<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Криптография</title>
    <link rel="stylesheet" href="https://bootswatch.com/cerulean/bootstrap.css">
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="../" class="navbar-brand">Криптография</a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Вычисления онлайн<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/cryptotable">Вычисление вероятности атаки имитации и атаки подмены по таблице шифрования</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Задачи<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/tasks1">Задачи на вероятность атаки имитации и атаки подмены</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <img style="display: block; margin: 0 auto; margin-top: 100px;" src="crypto.png">
    <script src="https://code.jquery.com/jquery-2.2.3.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="/cryptotable/cryptotable.js"></script>
</body>
</html>